*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
}
      
.logo {
    width: 150px; /* adjust the width of the logo as needed */
    margin-left: 50px;
}
      
.nav-links {
    display: flex;
    margin-right: 50px;
    float: right;
}
      
.nav-links a {
    color: rgba(99, 207, 99, 0.519);
    font-family:'Jost', sans-serif;
    font-size: 55px;
    margin-left: 10px;
    font-stretch: wider;
    padding: 20px;
}
      

.header-container {
    width: 100%; /* set the width of the header container */
    margin: 0 auto;
    background-color: rgb(4, 255, 149) ;/*rgb(22, 50, 63); /* set the background color of the header container */
}

.section-container{
    width: 100%; /* set the width of the header container */
    height: 600px;
    margin: 0 auto;
    background-color: rgb(141, 152, 157); /* set the background color of the header container */
}

.sectionImage{
    background-image: url('/assets/section-image.png');
    background-position: center center;
    background-size: cover;
    height: 100%;
}


h1{
    font-family: 'Jost', sans-serif;
    font-size: 96px;
    color: rgb(253, 144, 144);
    text-align: center;
    font-weight: 300;
}

h2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    color: rgb(164, 188, 169);
    text-align: center;
    font-weight: 800;
    padding: 0px 0px 0px 0px;
}

h5{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

}


.button-uebersicht{
    height: 50px;
    margin-top: 50px;
    text-align: center;
}

button{
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color: rgb(5, 46, 46);
}


.card{
    background-image: url('/assets/7elma-Cartoom.png');
}

.container-2{
    background-color: #4F2118;
    height: 900px;
}

.mycards{
    padding-top: 50px;
    height: 100%;
    margin: 0 auto;
    width: 80%;

}

.container-3{
    display: block;
    background-color: #fffb1b;
    height: 200px;
}

.myquote-container{
    background-color: #000000;
    height: 100%;
    padding-top: 50px;
}

.container-4{
    display: block;
    background-color: #53524a;
    height: 300px;
    width: 100%;
}


.carousel-item img {
    background-color: #625656;
    height: 100%;
    width: 600px;
}

.carous{
    margin: 0 auto;
}


.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 460px;
    width: 80%;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  video {
    max-width: 100%;
    border: 4px solid #333;
    box-shadow: 0 0 20px #333;
  }

.rounded {
    width: 40%;
}

/* Übungen */

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block; 
    vertical-align:middle;
    margin-left:20px;
    margin-right:5px;
}

label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}


.container-uebungen{
    display: flex;
    justify-content: center;
}
.card-uebung{
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#image{
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: auto;

}

#text-ubung-1, #button-next{
    display: block;
    margin: auto;
}

.jumbotron {
    padding: 1rem 2rem;
}


/* stories */
.lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

#myquote-container{
    background-color: rgb(226, 255, 94) ;
}

  @media (max-width: 500px) {

    .container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
      .container-uebungen {
        display: flex;
        flex-direction: column;
        padding-right: 15px;
      }


      #card-uebung-1 , #card-uebung-2 {
        width: 100%;
        
      } 
  }

.text-section{
    margin-top: 150px ;
}


footer {
    padding: 20px; 
    width: 100%;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-logo {
    margin-right: 20px;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-links a {
    color: rgb(62, 191, 83);
    text-decoration: none;
    margin-right: 10px;
  }


@media 
only screen and (max-width: 827px) {
    .text-section{
        margin-top: 50px ;
    }

    .nav-links {
        flex-direction: column;
    }

    .logo {
        width: 120px; /* adjust the width of the logo as needed */
        margin-left: 0px;
    }

    .nav-links a {
        color: rgba(99, 207, 99, 0.519);
        font-family:'Rowdies', cursive ;
        font-size: 25px;
        margin-left: 50px;
        font-stretch: wider;
        padding: 6px;
    }

    h1{
        font-family: 'Jost', sans-serif;
        font-size: 70px;
        color: rgb(253, 144, 144);
        text-align: center;
        padding-top: 20px;
        font-weight: 300;
    }
    .container-2{
        height: 1950px;
    }

    .myquote-container {
        background-color: rgb(40, 55, 68) ;
        padding-top: 20px;
    }


      
}




  
  @media (max-width: 600px) {
    .footer-container {
      flex-wrap: wrap;
    }
    .footer-logo {
      margin-bottom: 20px;
    }
  }
  
  #footer-container{
    margin-top: 300px;
  }